@import "../../styles/palette.scss";

.project {
  display: flex;
  flex-direction: column;
  background-color: $text;
  width: 70%;
  margin: 4em;
  padding: 2em;
  border-radius: 15px;

  .projectInfo {
    padding: 1.5em;
  }

  .projectImage {
    height: 200px;
    object-fit: cover;
  }

  .underConstruction {
    opacity: 0.4;
  }

  .imageContainer {
    width: 100%;
    background-color: black;
    overflow: hidden;
  }

  .projectDescription {
    line-height: normal;
    font-size: small;
  }
}

.constructionHeader {
  color: whitesmoke;
  position: absolute;
  padding-bottom: 13em;
}

.constructionPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .project {
    width: 18em;
  }
}
