.mobileNav {
  position: fixed;
  width: 100%;
}

.bg-dark {
  background-color: #9EE37D !important;
}

.fa-github {
  color: black;
}

.fa-linkedin {
  color: black;
}
.nav-link a {
  color: black;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-nav {
  margin:auto;
}