.initialsIcon {
  height: 10em;
  margin-bottom: 2em;
  margin-top: 15em;
}

p {
  line-height: 3;
}

.welcomePage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  padding-bottom: 25em;
}

// .mainImage {
//   width: 105%;
//   opacity: 65%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.greeting {
  // position:absolute;
  z-index: 1;
}



