.initialsIcon {
  height: 10em;
  margin-bottom: 2em;
  margin-top: 15em;
}

p {
  line-height: 3;
}

.welcomePage {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.mainImage {
  width: 105%;
  opacity: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.greeting {
  position:absolute;
  z-index: 1;
}

body {
  overflow: hidden;
}
