@import "../../styles/palette.scss";

.skillsPage {
  display: flex;
  flex-direction: column;
  margin-top: 25em;
  background-color: white;
  padding-top: 5em;
  padding-bottom: 12em;
}

.skillsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .category {
    padding: 2rem;
    min-width: 10em;
    border-radius: 15px;
    background-color: $text;
    border-style: solid;
    border-color: white;
    border-width: 0.1em;
    border-right: 1px solid white;
    margin-left: 1em;
    background-color: #aaefdf;
  }
}

@media only screen and (min-width: 1024px) {
  .skillsBox {
    flex-direction: row;

    .category {
      margin: 2em;
    }
  }
}
