.skillsPage {
  display: flex;
  flex-direction: column;

}

.skillsBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  .category {
    padding: 2rem;
    min-width: 10em;
    border-radius: 15px;
    background-color: skyblue;
    border-style: solid;
    border-color: white;
    border-width: 0.1em;
    border-right: 1px solid white;
    margin-left: 1em;
    
  }
}

