@import '../../styles/palette.scss';

.aboutDescription {
  margin-top: 15em;
  margin-left: 10em;
  margin-right: 10em;
  background-color: $text;
  border-radius: 15px;
  padding: 1em;
}
.aboutPage {
  margin-top: 11em;
}

body {
  background-color: $background;
}