@import "../../styles/palette.scss";

.mainPic {
  height: 10em;
  border-radius: 60%;
}

.sidebarDescription {
  margin-bottom: 2em;

  a {
    text-decoration: none;
    color: black;
  } 
}

.sidebar {
  background-color: $sidebar;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 4em;
  padding-right: 4em;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  .navButtons{
    margin: 1.5em;
    text-decoration: none;
    color: black;
  }
  
  .navButtons:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.social {
  display: flex;
  flex-direction: row;
 
  a {
    margin: 0.5em;
    color: black;
  }
  
}

.email:hover {
  text-decoration: underline;
}
